{% extends 'BlogAdminBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body -%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            
            <h1 class="page-header">Post creation</h1>

            {{ form(form) }}

            <ul class="record_actions">
                <li>
                    <a href="{{ path('admin_post') }}">
                        Back to the list
                    </a>
                </li>
            </ul>
        
        </div>
    </div>
</div>
{% endblock %}
